# -----------------------------
# 1. Downloaded Data and Images
# -----------------------------
# Ignore the massive MTGJSON files and tracking states
data/
dither_tests/

# -----------------------------
# 3. Go Binaries & Build Files
# -----------------------------
momir-sync
momir-sync.exe
momir-sync.app
momirbox
momirbox.exe
momirbox.app
*.o
*.a
*.so
*.test
*.out
vendor/

# -----------------------------
# 4. OS Specific & Environment
# -----------------------------
.env
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
desktop.ini

# -----------------------------
# 5. IDEs and Editors
# -----------------------------
.vscode/
.idea/
*.swp
*.swo